*{
    background-color: #000000;
}

html {
    behavior: smooth;
}

.navbar {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

h, p {
    font-family: 'Poppins', sans-serif;
}

#animacao {
    white-space: nowrap;
    overflow: hidden; 
    animation: animated-text 4s steps(100,end) 1s 1 normal both
}

@keyframes animated-text{
    from{width: 0;}
    to{width: 100%;}
}

.linkH {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: #08D665;
    text-decoration: none;
}

.borda {
    padding: 8px;
    border: 8px solid #08D665;
}

.span {
    color: #08D665;
}

.botao {
    padding: 5px;
    text-decoration: none;
    border-radius: 2px;
    border: 2px solid #08D665;
}

.botao:hover {
    background-color: #08D665;
}

.card:hover {
    background-color: #08D665; 
}