@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100&display=swap');

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.5s ease;
  }
  
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }

#particles-js {
    background: black;
    height: 100vh;
}

.heading {
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
}
.heading h1 {
    color: #08D665;
    font-size: 70px;
}
.heading h3 {
    color: wheat;
    font-size: 20px;
}

* {
    font-family: 'Sora', sans-serif;
}

body {
    background: #000000;
}

.bg {
    background: #000000;

}

html {
    behavior: smooth;
}

.linkH {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: #08D665;
    text-decoration: none;
}

.borda {
    padding: 8px;
    border: 8px solid #08D665;
}

.span {
    color: #08D665;
}

.card:hover {
    border-radius: 2px;
    border: 1px solid #08D665;
    transition: 0.5s;
    border-radius: 6px;
}

.botao {
    padding: 5px;
    text-decoration: none;
    border-radius: 2px;
    border: 2px solid #08D665;
}

.botao:hover {
    background-color: #08D665;
}

.noSelect {
    user-select: none;
}

::selection {
    background-color: #08D665;
}

/* Scrollbar personalizada */

*::-webkit-scrollbar {
    width: 10px;
    border-radius: 15px;
  }
  
  *::-webkit-scrollbar-track {
    width: 12px;
    box-shadow: inset 0 0 .3rem #000000;
    background-color: #000000;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #08D665;
    border-radius: 15px;
  }
  
  :root {
    scrollbar-color: #08D665 #000000 !important;
    scrollbar-width: thin !important;
  }

/* Responsividade */

@media (max-width: 1080px) {
    #about_me {
        font-size: 1.050rem !important;
    }

    #container {
        max-width: 100% !important;
    }

    .card {
        width: 16rem !important;
    }
}

@media (max-width: 768px) {
    #foto__sobre {
        display: none !important;
    }

    #about_me_div {
        width: 100%;
    }

    #about_me_div h2 {
        font-size: 3rem;
    }

    .botao {
        padding: 10px;
    }

    .card {
        width: 12rem !important;
    }

    .card-body p {
        display: none;
    }
}

@media (max-width: 650px) {
    .heading h1 {
        font-size: 2rem !important;
    }

    .heading p {
        font-size: 1.275rem !important;
        font-weight: 400 !important;
    }

    .heading a {
        font-size: 1.1rem !important;
        font-weight: 400 !important;
    }

    #about_me_div h2 {
        font-size: 2rem !important;
    }

    #cards__ {
        display: flex !important;
        justify-content: space-around !important;
        flex-direction: row !important;
    }

    .card {
        width: 100% !important;
        border: 1px solid #08D665 !important;
    }    

    .rowCard {
        display: flex;
        justify-content: center;
        margin: 24px;
    }
}
